{% extends 'base.html' %} {% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p class="mt-3">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo velit
      mollitia adipisci, ullam tempora officiis ut repellendus vel deserunt
      voluptate laboriosam eligendi. Assumenda adipisci corporis dolore natus
      dolorem voluptatum eius! Perferendis, placeat? Reprehenderit repellat
      illum sequi ad nesciunt nulla laborum earum esse perspiciatis ut pariatur
      aspernatur, quisquam explicabo atque ab tempora numquam ipsam ullam
      dolorem suscipit. Exercitationem saepe nesciunt sapiente ipsam expedita,
      quae doloremque, quia quod repudiandae quibusdam dolore voluptatibus
      deserunt perspiciatis alias aliquam enim natus impedit odit! Quibusdam
      facilis eius nemo soluta, voluptates sit explicabo. Consequatur pariatur
      odit eligendi, et fuga dignissimos sapiente dolores repellendus dolorem
      sequi at exercitationem!
    </p>

    <div class="text-center">
      <a class="btn btn-secondary" href="/signin">Signin</a>
      <a class="btn btn-dark" href="/signup">Signup</a>
    </div>
  </section>
</main>

{% endblock %}
